@use '../../../styles/colors' as *;

.filterSelect {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid $white-shadow;
    font-size: 0.95rem;
    width: 100%;
    max-width: 300px;
    background-color: $white;
    cursor: pointer;
}